body {
	min-width:900px;

	font-family: "Roboto", "Arial", sans-serif;;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	color:black;

	background: #849d8f;
}


body > input[type="radio"] {
  display: none;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.site-wrapper {
	min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background:url("../img/slide-2.png") no-repeat center top;
}

.site-wrapper:after {
  background:url("../img/slide-3.png") no-repeat-center-top;
}

.site-container {
  max-width: 1200px;
  min-width: 900px;
  margin:0 auto;
}

.container {
  width:1200px;
  margin: 0 auto;
	padding:0px 27px;
	box-sizing: border-box;
}


/*----------navigation----------*/

.main-header img {
  width: 160px;
  float:left;

  margin-right: 20px;
  margin-top: 10px;
	margin-left: -7px; /*лого по макету немного выступает за направляющую*/
}

.main-navigation {
  margin-top: 2px;
  margin-left: -8px;
  float: left;
  width: 550px;
}

.main-navigation > ul {
  margin-top: 20px;

  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-item-menu{
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  margin-right: -1px;

  font-size: 16px;
  font-weight: bold;
}

.main-item-menu > a {
  display: block;
  padding: 0 14px;
  height: 32px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  line-height: 32px;
  border-radius: 16px;
}

.main-item-menu:hover > a {
  color: #000000;
  text-decoration: none;

  background: #f8f7f4;
}


.main-item-menu:active > a{
  color: #000000;
  text-decoration: none;

  background: #f8f7f4;
  box-shadow: inset 0 2px 0 0 #696969;
}

/*----------sub-menu----------*/

.sub-menu {
  display: none;
  position: absolute;
  top: 37px;
  left: -5px;
  margin: 0;
  padding: 0;
  z-index: 30;

  font-size: 14px;
  line-height: 28px;
  color: #000000;
  font-weight: normal;
  white-space: nowrap;

  list-style: none;
  background: #f8f7f4;
  border-radius: 5px;
}

.main-item-menu:hover .sub-menu {
  display: block;
}

.main-menu-current {
  border-radius: 16px;
  background: #d07058;
  color: #fff;
}

.main-item-menu .main-menu-current {
  text-decoration: none;
}

.sub-menu li {
  margin: 5px 0;
  padding: 0 5px;
}

.sub-menu li:hover {
  background: #fbded7;
}

.sub-menu li:active {
  background: #f6b5a5;
	cursor: none;
}

.sub-menu li.active{
  background: #d07058;
}

.sub-menu li.active a {
  color: #ffffff;
}

.sub-menu a {
  display: block;
  padding: 0 15px;

  font-size: 14px;
  color: #343434;
  text-decoration: none;
}

.sub-menu li:first-child a{
  font-weight: bold;

  border-bottom: 1px solid #bebdbd;
}


/*----------user-block----------*/

.user-block {
  position: relative;

  float: right;
  max-width: 400px;

  margin: 0;
  padding: 0;
  margin-top: 20px;

  font-size: 0;
}

.header-button-drop-down {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  padding: 15px;

  color: #343434;

  background: #f8f7f4;
  border-radius: 5px;

  z-index: 30;
}

.header-buttons {
  margin: 0;
  padding: 0;
  max-width: 300px;

  font-size: 0;
}

.header-buttons li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  padding-bottom: 5px;
}

.header-buttons .header-button{
  position: relative;
  display: block;

  height: 32px;

  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
	font-weight: 500;
  text-decoration: none;

  background: rgba(255, 255, 255, 0.2);

  border-radius: 50px;
}

.header-buttons li:last-child {
  margin-right: 0;
}

.button-header {
  display: inline-block;
  padding: 10px 14px;

  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
  text-align: center;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-search {
  position: relative;

	height: 20px;
  margin-right: 2px;
  padding: 8px 18px;

  font-size: 0;
}

.button-search::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 9px;

  width: 17px;
  height: 17px;

  background: url("../img/header_search_white.svg") center no-repeat;
}

.button-search:hover {
  position: relative;

  background: #ffffff;
  color: #000000;
}

.button-search:hover::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 9px;

  width: 17px;
  height: 17px;

  background: url("../img/header_search_black.svg") center no-repeat;
}

.button-cart {
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 42px;
  padding-right: 30px;
  margin-right: 2px;
}

.button-cart-full{
  position: relative;
  padding-left: 42px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.button-cart-full::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 8px;

  width: 22px;
  height: 22px;

  background: url("../img/cart-full.png");
}

.button-cart::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 8px;

  width: 20px;
  height: 20px;

  background: url("../img/header_cart_white.svg") center no-repeat;
}

.button-cart-full:hover::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 8px;

  width: 22px;
  height: 22px;

  background: url("../img/cart_sprite.png");
}

.button-cart:hover {
  position: relative;

  background: #ffffff;
  color: #000000;
}

.button-cart-full:hover {
  position: relative;

  background: #ffffff;
  color: #000000;
}

.button-cart:hover::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 8px;

  width: 20px;
  height: 20px;

  background: url("../img/header_cart_black.svg") center no-repeat;
}

.button-login {
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 42px;
  margin-right: 5px;
}

.button-login::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 8px;

  width: 20px;
  height: 20px;

  background: url("../img/header_login_white.svg") center no-repeat;
}

.button-login:hover {
  position: relative;

  background: #ffffff;
  color: #000000;
}

.button-login:hover::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 8px;

  width: 20px;
  height: 20px;

  background: url("../img/header_login_black.svg") center no-repeat;
}

/*----------search----------*/

.header-search:hover .search-drop-down {
  display: block;
}

.search-drop-down .text-input {
  width: 310px;

  box-sizing: border-box;
}

.text-input {
  height: 42px;
  padding: 0 15px;

  font-size: 14px;
  line-height: 38px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.text-input:invalid {
  box-shadow: none;
}

.text-input:hover {
  border: 2px solid rgba(154,154,154,0.52);
}

.text-input:focus{
  border: 2px solid rgba(46,136,228,0.52);
}

.text-input-label {
  display: block;
  position: relative;
}

.index-right .text-input {
  width: 367px;

  box-sizing: border-box;
}

.index-right .text-input-label {
  display: inline-block;
  vertical-align: middle;
}

.index-right .subscription-button {

  margin-top: -4px;
  margin-right: 13px;
}

.search-text-input,
.popup-text-input,
.comment-text-input
 {
  position: absolute;
  top: 8px;
  left: 15px;

  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  font-weight: normal;

  pointer-events: none;
}

.subscription-text-input {
  position: absolute;
  top: 10px;
  left: 38px;

  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  font-weight: normal;

  pointer-events: none;
}

.text-input:focus + .search-text-input,
.text-input:valid + .search-text-input,
.text-input:focus + .subscription-text-input,
.text-input:valid + .subscription-text-input,
.text-input:focus + .popup-text-input,
.text-input:valid + .popup-text-input,
.text-input:focus + .comment-text-input,
.text-input:valid + .comment-text-input {
  font-size: 11px;
  transform: translateY(-27px);
  outline: none;
}

.text-input:valid + .search-text-input,
.text-input:valid + .subscription-text-input,
.text-input:valid + .popup-text-input,
.text-input:valid + .comment-text-input {
  color: #d3d3d2;
}

.text-input:focus + .search-text-input
.text-input:focus + .subscription-text-input,
.text-input:focus + .popup-text-input,
.text-input:focus + .comment-text-input {

  outline: none;
  color: #8fbdec;
}

/*----------login----------*/

.login-drop-down {
  padding-top: 20px;
}

.login-drop-down .text-input{
  margin-bottom: 15px;
  width: 240px;
  box-sizing: border-box;
}

.header-login:hover .login-drop-down {
  display: block;
}

.search-field-submit {
  margin-top: 10px;
  margin-left: 15px;
}

.login-links {
  padding-left: 9px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.login-links {
  float: right;
  margin-top: -5px;
}

.login-links a {
  text-decoration: underline;
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}

.login-links a:hover,
.login-links a:active {
  color: #ec593c;
}

/*----------cart----------*/

.header-cart-full:hover .header-button-drop-down {
  display: block;
  margin-top: 3px;
  font-size: 13px;
}

.cart-drop-down-content {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  white-space: normal;
  min-width: 550px;


  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.cart-drop-down-content td {
  padding: 18px 8px;
  vertical-align: top;
}

.cart-drop-down-content img {
  margin-top: -5px;
  margin-left: 10px;
  width: 35px;
  height: 35px;
}

.cart-drop-down-content .cart-product-name {
  text-align: left;
  white-space: normal;
  vertical-align: top;
}

.cart-drop-down-content a {
  text-decoration: none;
  color:#000000;
}

.close-button {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
}

.close-button::before,
.close-button::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 6px;

  width: 1px;
  height: 12px;
  background: #343434;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button:after{
  transform: rotate(-45deg);
}

.price-cart {
  color: #7f7f7f;
}

.cart-drop-down .price-total {
  display: block;
  text-align: right;

  font-size: 15px;
  line-height: 45px;
  font-weight: bold;
}

.cart-drop-down-content .price-cart-row{
  min-width: 100px;
}

.cart-drop-down-content .total-price-row {
  min-width: 60px;
}

.cart-drop-down-content .cart-product-name {
  min-width: 150px;
}

.cart-drop-down .cart-box-submit {
  min-width: 162px;
  line-height: 18px;
  padding: 9px 23px;
  min-height: auto;
  float: right;
  text-decoration: none;
}

.header-schedule {
  position: absolute;
  top: 52px;
  left: 82px;

  width: 180px;

  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}

.header-phone {
  font-size: 22px;
  line-height: 27px;
	font-weight: 800;
}

/*------------slider------------*/

.slide-wrapper {
  position:  relative;

  margin-bottom: 35px;
  margin-top: 320px;
}

.slide {
  text-align: center;
  margin-bottom: 40px;

  display: none;
}

.slider-heading {
  width: 700px;

	margin-bottom: 50px;
  margin: 0 auto;

  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 800;
  color: #ffffff;
}

.button {
  display: inline-block;
  padding: 12px 20px;

  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  text-decoration: none;

  background-color:  #f26843;;
  border: none;
  outline: none;
  cursor: pointer;

  background: #f26843;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

  border-radius: 25px;
}

.button:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.index-btn {
  padding: 12px 45px;
  margin-top: 28px;
	margin-left: 5px;

  font-size: 31px;
  line-height: 41px;
  font-weight: 600;

  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background: url("../img/slide-1.png") no-repeat center top;
  background-color: #849d8f;
}

#btn-2:checked ~ .site-wrapper {
  background: url("../img/slide-2.png") no-repeat center top;
  background-color: #8996a6;
}

#btn-3:checked ~ .site-wrapper {
  background: url("../img/slide-3.png") no-repeat center top;
  background-color: #9d8b84;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

/*----------main----------*/

.raspberry-block-left {
  position: relative;

  float:left;
  width: 562px;
  min-height: 230px;

  background: #830823 url("../img/raspberry_bg.jpg") no-repeat;
  border-radius: 15px;
}

.chokolate-block-right {
  position: relative;

  float: right;
  width: 560px;
  min-height: 230px;

  background: #391f14 url("../img/chokolate_bg.jpg") no-repeat;
  border-radius: 15px;
}

.raspberry-block-left h2 {
  margin-top: 15px;
	margin-bottom: 14px;
	margin-left: 21px;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
}

.chokolate-block-right h2 {
	margin-top: 13px;
	margin-bottom: 16px;
	margin-left: 20px;
	font-size: 35px;
	line-height: 42px;
	color: #ffffff;
}

.raspberry-block-left p {
  margin-left: 21px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.chokolate-block-right p {
	margin-left: 21px;
	margin-top: 5px;

	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}

.button-buy-raspberry {
  position: absolute;
  bottom: 22px;
  right: 23px;
}

.button-buy-chokolate {
  position: absolute;
  bottom: 29px;
  right: 19px;
}

.index-content-promo{
	margin-bottom: 41px;
}

/*----------main catalog----------*/

.index-catalog {
  margin-bottom: 21px;

  font-size: 0px;
}

.index-catalog-hit {
  margin-bottom: 10px;

  font-size: 0px;
}

.index-catalog-catalog {
  margin-bottom: 10px;

  font-size: 0px;
}

.catalog-link-icecream {
 position: relative;
 display: inline;

 font-size: 16px;
 line-height: 22px;
 font-weight: 500;
 color: #ffffff;
}

.catalog-link-icecream:hover,
.catalog-link-icecream:active {
 text-decoration: none;
}

.catalog-item-icecream-index {
	display: inline-block;
	vertical-align: top;

	width: 23.26%;
	margin-right: 26px;
	margin-bottom: 40px;

	font-size: 14px;
	position: relative;
	text-align: center;

}

.catalog-item-icecream {

  display: inline-block;
  vertical-align: top;

  width: 23.26%;
  margin-right: 26px;
  margin-bottom: 40px;

  font-size: 14px;
  position: relative;
  text-align: center;
}

.catalog-item-icecream-index .item-content {
  position: relative;
  z-index: 1;
}

.catalog-item-icecream-index:hover a,
.catalog-item-icecream-index:hover .item-bg {
  display: block;
  z-index: 2;
}

.catalog-item-icecream-index:hover .item-content {

  z-index: 4;
}


.catalog-item-icecream:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item-icecream-index:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item-icecream .item-content {
  position: relative;
  z-index: 1;

}
.catalog-item-icecream:hover a,
.catalog-item-icecream:hover .item-bg {
  display: block;
  z-index: 2;
}

.catalog-item-icecream:hover .item-content {
  z-index: 4;
}

.preview-catalog {
  display: none;
  margin: 20px;
  position: absolute;
  white-space: nowrap;
  left: 10px;
}

.item-bg {
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-bottom: 90px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;

  left: -10px;
  top: -10px;

  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.catalog-item-icecream img {
  width: 100%;
  height: auto;
}

.catalog-item-icecream-index img {
  width: 100%;
  height: auto;
}

.catalog-image,
.index-catalog-hit,
.index-catalog {
  position: relative;
}

.index-catalog-hit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 60px;
  height: 60px;

  background: #ffffff url("../img/hit.png") center no-repeat;
  border-radius: 30px;
}

.catalog-price-icecream {
  position: absolute;
  bottom: 14px;
  margin-left: 3px;

  font-size: 45px;
  line-height: 54px;
  text-align: center;

  cursor: pointer;
  color:#ffffff;
}
.catalog-price-icecream .kg {
	font-size: 30px;
	line-height: 13px;
	font-weight: bold;

}

.catalog-price-icecream-index {
  position: absolute;
  bottom: 9px;
  margin-left: 3px;

  font-size: 45px;
  line-height: 54px;
  text-align: center;

  cursor: pointer;
  color:#ffffff;
}
.catalog-price-icecream-index .kg {
	font-size: 30px;
	line-height: 13px;
	font-weight: bold;
}

.catalog-price-icecream img {
  width: 27px;
  height: 31px;
}

.catalog-price-icecream-index img {
  width: 27px;
  height: 31px;
}

/*----------waffle----------*/

.index-center {
	font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
	margin-bottom: 47px;
	margin-top: -23px;

	background: #ece1cb url("../img/waffle_bg.jpg");
  border-radius: 15px;
}

.index-center h3 {
  margin-left: 22px;
  padding-top: 24px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.index-center-left .left-top {
  width: 480px;
  padding-left: 79px;
  padding-top: 10px;

  background-image: url("../img/production.svg");
  background-size: 47px;
  background-repeat: no-repeat;
  background-position: 25px 0px;
}

.index-center-left .left-bottom {
  width: 480px;
  padding-left: 78px;
  padding-top: 4px;

  background-image: url("../img/ingredients.svg");
  background-size: 47px;
  background-repeat: no-repeat;
  background-position: 24px 0px;
}

.index-center-right .right-bottom {
  width: 480px;
  padding-left: 82px;
  padding-top: 4px;
	padding-right: 20px;

  background-image: url("../img/delivery.svg");
  background-size: 47px;
  background-repeat: no-repeat;
  background-position: 25px 0px;
}

.index-center-right .right-top-p {
  width: 480px;
  padding-left: 81px;
  padding-top:18px;

  background-image: url("../img/purchase.svg");
  background-size: 47px;
  background-repeat: no-repeat;
  background-position: 24px 6px;
}

.index-center-left{
	float:left;
	margin-top:-28px;
}

.index-center-right{
	float:right;
	margin-top:-35px;
}

.blog-subscribe {
	margin-bottom:32px;
}


.index-right {
	float:right;
	width: 565px;
	min-height: 220px;

	background: #f8f7f4 url("../img/right-pattern.png") repeat;
  border-radius: 15px;

  font-size: 0px;
}

.index-right  form {
  margin: 5px;
  padding-top: 4px;
  min-height: 210px;

  border-radius: 15px;
  background: #f8f7f4;
}

.index-right  p {
  margin-left: 28px;
  margin-bottom: 39px;
  margin-top: 22px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.index-right  input {
  margin-left: 26px;
  margin-right: 13px;
  margin-bottom: 20px;
  padding: 10px;

  width: 55%;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  border-radius: 5px;
  border: 1px solid #d3d3d2;

  cursor: pointer;
}

.index-right  input:hover {
  border: 2px solid #c7c6c5;
}

.index-right  input:focus {
  border: 2px solid #8fbdec;
}

.index-left {
	float:left;
	width: 566px;
	min-height: 227px;

  background: #ffffff url("../img/blog_bg.jpg") -1px;

  border-radius: 15px;
}

.index-left h4 {
	position: relative;
	margin-left: 21px;
  margin-top: 23px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #5a5a5a;
}

.index-left .link {
	position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #353535;
	margin-top: -14px;
  margin-left: 21px;

  text-decoration: underline;
}

.index-left .link:hover,
.index-left .link:active {
  color: #ed6850;
}

.news-preview {
  display: inline-block;
  width: 300px;
  margin-left: 20px;
	vertical-align: top;

  background: rgba(255, 255, 255, 0.1);
}

.header-padding {
  padding-top: 10px;
}

.feedback {
  position: relative;
  top: -420px;
  right: -850px;
  width: 280px;

  min-height: 305px;

  background: #ffffff;
  border-radius:10px;
}

.feedback p {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #343434;
}

.contact-details {
  display: block;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #343434;
}

.feedback .button {
  margin-left: 20px;
}

.index-map {
	height:430px;
	margin-bottom: 0px;
	background: url("../img/map.jpg") no-repeat center 0;
	background-size: cover;
	overflow: hidden;
}

.map-container {
	max-width: 1200px;
	min-width: 900px;
	position: relative;
	margin: 0 auto;
	z-index: 50;
}

.location{
  position: relative;
  top: -5px;
}

.index-contacts {
  position: absolute;
  top: 72px;
  right: 21px;
  width: 300px;
  min-height: 305px;
  z-index: 15;

  background: #ffffff;
  border-radius:10px;
}

.index-contacts p {
  margin-right: 20px;
  margin-left: 19px;
  margin-top: 30px;
  margin-bottom: 21px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #343434;
}

.index-contacts .contact-details-bottom {
  margin-right: 20px;
  margin-left: 19px;
  margin-top: -2px;
  margin-bottom: 24px;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #343434;
}

.contact-details {
  display: inline-block;
  width: 250px;
	vertical-align: top;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #343434;
}

.index-contacts .button {
  margin-left: 18px;
  padding-left: 30px;
  padding-right: 25px;
}

/*----------footer----------*/

.main-footer {
 width:1200px;
 margin: 0 auto;
}

.link {
  position: relative;

  font-size: 13px;
  line-height: 17px;
  font-weight: 400;

  color: #ffffff;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 1px;
  left: 1px;

  height: 1px;

  background: rgba(255, 255, 255, 0.4);
}

.link:hover,
.link:active {
  color: #f8ba9d;
}

.footer-social {
  float: left;
  width: 220px;

  padding-top: 35px;
  padding-bottom: 30px;
}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
	margin-right: 6px;
  margin-top: 3px;
	font-size: 0;
  vertical-align: top;
  text-decoration: none;
	border-radius:50px;

  border: 4px solid rgba(255, 255, 255, 0.5);
}

.social-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.social-btn:active {
  box-shadow: inset 0 2px 1px #888888;
}

.social-btn:last-child {
  margin-right: 0px;
}

.social-btn-tw {
	background: url("../img/twitter.svg") no-repeat;
}

.social-btn-fb {
	background: url("../img/facebook.svg") no-repeat ;

}

.social-btn-inst {
	background: url("../img/instagram.svg") no-repeat;

}

.social-btn-vk {
	background: url("../img/vkontakte.svg") no-repeat ;
}

.footer-links {
	width: 350px;
  margin:0 auto;

  padding-top: 33px;
  padding-bottom: 30px;
}

.footer-links-left {
  float: left;
  padding-left: 25px;
  width: 120px;
}

.footer-links-right {
	position: relative;
	left: -12px;
  float: right;
  width: 170px;
}

.heart-link {
  position: relative;
	font-weight: 700;
}

.heart-link::before {
  position: absolute;
  content: "";
  left: -20px;
  bottom: 0;

  width: 15px;
  height: 13px;

  background: url("../img/heart.svg") no-repeat center;
}

.footer-copyright {
  float: right;
  width: 205px;
}

.footer-copyright img {
	margin-left: 19px;
  margin-top: 20px;
  margin-bottom: 3px;
}

.footer-copyright p {
	margin-top: -3px;
	margin-left: 7px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color:white;
}

.footer-copyright-catalog {
  float: right;
  width: 205px;
}

.footer-copyright-catalog img {
	margin-left: 18px;
  margin-top: 39px;
  margin-bottom: 3px;
}

.footer-copyright-catalog p {
	margin-top: -3px;
	margin-left: 7px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color:white;
}

/*----------catalog----------*/

.breadcrumbs {
	margin-top: 26px;
	margin-bottom: 7px;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
	margin-right: 7px;
	vertical-align: top;
	font-size: 14px;
	color:white;
}

.breadcrumbs a {
	margin-right: 7px;
}

.breadcrumbs .link {
  font-size: 14px;
  line-height: 17px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs .active-page{
	color:white;
	font-weight: 400;
}

/*----------filters----------*/

.filter {
	min-width: 860px;
	margin-bottom: 30px;
	font-size: 0;
}

.filter-row {
	border: none;
	margin: 0;
	margin-bottom: 15px;
}

.filter-row:last-child {
	margin-bottom: 0;
}

.filter-item {
	display: inline-block;
	margin-right: 15px;
	vertical-align: bottom;
	font-size: 16px;
}

.filter-sort {
	width: 194px;
}

.filter-price {
	width: 219px;
}

.filter-fatness {
	width: 415px;
	margin-right: 0;
	font-size: 0;
}

.filter-topping {
	width: 700px;

	font-size: 0;
}

.filter-btn {
	width: 145px;
	height: 35px;
	vertical-align: bottom;
	padding: 0;
	margin-left: 1px;
	font-size: 16px;
	line-height: 30px;
	background: transparent;
	box-shadow: none;
	outline: none;
	border: 2px solid #fbfcfb;
}

.filter-btn:hover,
.filter-btn:active {
	color: #343434;
	border: none;
	outline: none;
}

.filter-btn:hover {
	background: #fafbfb;
	box-shadow: none;
}

.filter-btn:active {
	background: #ededed;
	box-shadow: inset 0 2px #696969;
}

.filter-title {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	padding-left: 16px;
	font-size: 14px;
	font-weight: 500;
}

.price-controls input[type="text"] {
	width: 30px;
	background: transparent;
	border: none;
	outline: none;
}

.filter-bg {
	padding: 5px 15px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}

.filter-bg label {
	line-height: 25px;
}

.filter-sort-bg {
	position: relative;
	height: 27px;
}

.filter-sort-bg select{
	width: 100%;
	height: 25px;
	margin-left: -3px;
	color: white;
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	cursor: pointer;
}


.filter-sort-bg select::-ms-expand {
	display: none;
}

.filter-sort-bg::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 15px;
	width: 0;
	height: 0;
	border: 5px solid #ffffff;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.filter-sort-bg:hover {
	color: #343434;
	background: #fbfcfb;
}

.filter-sort-bg:hover::after {
	border-top-color: #343434;
}


.filter-sort-bg select:focus{
	border: none;
	outline: none;
}

.filter-sort-bg:hover select{
	color: black;
}

.filter-sort-bg option {
	color: #343434;
}

.filter-price .filter-bg {
	padding-top: 15px;
	height: 17px;
}

.range-controls  {
	position: relative;
}

.range-controls .scale{
	height: 5px;
	background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
	height: 5px;
	width: 55%;
	margin-left: 12%;
	background: #f8f7f4;
}

.range-controls .toggle {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f8f7f4;
	cursor: pointer;
}

.range-controls .min-toggle {
	left: 15%;
}

.range-controls .max-toggle {
	left: 68%;
}

.range-controls .toggle:hover {
	width: 23px;
	height: 23px;
}

.filter-bg input[type="radio"],
.filter-bg input[type="checkbox"] {
	display: none;
}

.filter-bg input[type="radio"] + label{
	display: inline-block;
	position: relative;
	margin-right: 20px;
	padding-left: 30px;
	font-size: 16px;
	cursor: pointer;
	vertical-align: top;
}


.filter-bg input[type="checkbox"] + label {

	display: inline-block;
	position: relative;
	margin-right: 20px;
	padding-left: 33px;
	font-size: 16px;
	cursor: pointer;
	vertical-align: top;
}

.filter-bg label {
	color:white;
	font-size: 16px;
	font-weight: 500;
}

.filter-bg input[type="checkbox"] + label {
	margin-right: 20px;
}

.filter-bg input[type="radio"]:last-of-type + label,
.filter-bg input[type="checkbox"]:last-of-type + label{
	margin-right: 0;
}

.filter-bg input[type="radio"] + label::after,
.filter-bg input[type="checkbox"] + label::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	border: 1px solid #f8f7f4;
	background: transparent;
	cursor: pointer;
	box-sizing: border-box;
}

.filter-bg input[type="radio"] + label::after {
	border-radius: 50%;
}

.filter-bg input[type="checkbox"] + label::after  {
	border-radius: 5px;
}

.filter-bg input[type="radio"] + label:hover::after,
.filter-bg input[type="checkbox"] + label:hover::after{
	border-width: 2px;
}

.filter-bg input[type="radio"]:checked + label::before,
.filter-bg input[type="checkbox"]:checked + label::before {
	content: "";
	position: absolute;
	cursor: pointer;
}

.filter-bg input[type="radio"]:checked + label::before {
	width: 10px;
	height: 10px;
	left: 5px;
	top: 50%;
	margin-top: -5px;
	background: #f8f7f4;
	border-radius: 50%;
}

.filter-bg input[type="checkbox"]:checked + label::before {
	left: -1px;
	top: 50%;
	width: 8px;
	height: 12px;
	transform:
		rotate(45deg)
		translateY(-10px);
	border: 2px solid #f8f7f4;
	border-top: none;
	border-left: none;
	box-sizing: border-box;
}

.filter-bg input[type="radio"]:disabled + label,
.filter-bg input[type="checkbox"]:disabled + label {
	opacity: 0.4;
}

.filter-bg input[type="radio"]:disabled + label::after,
.filter-bg input[type="checkbox"]:disabled + label::after{
	cursor: default;
	border-width: 1px;
}

.filter-item .filter-title {
	color:white;
	font-size: 14px;
}


.menu-sort ul{
  color:white;
}

.container h1{
	font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
  color: white;
  margin-top: 8px;
	margin-bottom: 29px;
}

.catalog-center {
	position:relative;
  margin-top: 44px;

	font-size:0px;
}

/*----------pagination----------*/

.pagination {
  margin-bottom: 19px;
	margin-top: 43px;
	margin-right: -3px;

	font-size: 0;
	text-align: right;
}

.pagination a {
  display: inline-block;
  padding: 4px 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;

  border-radius: 50%;
}

.pagination a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.pagination a.current-page {
  background: #ffffff;
  color: #000000;
}

.pagination a:active {
  background: #ffffff;
  color: #000000;
}

.pagination a.current-page:hover {
  background: #ffffff;
}

.pagination a.arrow-right,
.pagination a.arrow-left  {
  position: relative;
  padding: 0;
  vertical-align: top;

  width: 24px;
  height: 24px;

  font-size: 0;
}

.pagination a.arrow-right:hover,
.pagination a.arrow-left:hover {
  background: #849d8f;
}

.arrow-right:after {
  left: 25%;
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-right:before {
  left: 25%;
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-left:after {
  position: absolute;
  right: 25%;
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-left:before {
  position: absolute;
  right: 25%;
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}


.arrow-right:after {
  border-color: solid transparent;
  border-left-color: #849d8f;
  border-width: 6px;
  margin-top: -6px;
}

.arrow-right:before {
  border-color: solid transparent;
  border-left-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}

.arrow-left:after {
  border-color: solid transparent;
  border-right-color: #849d8f;
  border-width: 6px;
  margin-top: -6px;
}

.arrow-left:before {
  border-color: solid transparent;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-width: 8px;
  margin-top: -8px;
}

/*----------popup----------*/

.popup-window {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.popup-window-show {
  display: block;
  animation: appearance 0.5s ease-in-out;
}

.popup-error {
  animation: shake 0.6s;
}

.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  padding: 25px;
  padding-top: 15px;

  color: #343434;
  font-size: 16px;

  background: #f8f7f4;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;

  background: none;
  border: none;
  outline: none;
}

.popup-close::before,
.popup-close::after {
  height: 16px;
  width: 2px;
  left: 6px;
  top: 0;

  background: #343434;
}

.popup-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.callorder-form .label-first {

  margin-top: 20px;
}

.callorder-form .textarea-label {
  width: 100%;
}

.callorder-form .text-input{
  margin-bottom: 25px;
  width: 300px;
  box-sizing: border-box;
}

.callorder-form .text-input-comment{
  margin-bottom: 15px;
  width: 460px;
  height: 200px;
  box-sizing: border-box;
}

.callorder-form .button {
  float: right;
}

@keyframes appearance {
  from  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-53%, -50%);
		-moz-transform: translate(-53%, -50%);
		-o-transform: translate(-53%, -50%);
		-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-47%, -50%);
		-moz-transform: translate(-47%, -50%);
		-o-transform: translate(-47%, -50%);
		-ms-transform: translate(-47%, -50%);
				transform: translate(-47%, -50%);
  }
}
